<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>index</key>
		<string>5</string>
		<key>name2</key>
		<string>Crocodile</string>
		<key>group2</key>
		<string>l2</string>
	</dict>
	<dict>
		<key>index</key>
		<string>6</string>
		<key>name2</key>
		<string>Cuckoo</string>
		<key>group2</key>
		<string>l2</string>
	</dict>
	<dict>
		<key>index</key>
		<string>7</string>
		<key>name2</key>
		<string>Deer</string>
		<key>group2</key>
		<string>l2</string>
	</dict>
	<dict>
		<key>index</key>
		<string>8</string>
		<key>name2</key>
		<string>Dog</string>
		<key>group2</key>
		<string>l2</string>
	</dict>
	<dict>
		<key>index</key>
		<string>9</string>
		<key>name2</key>
		<string>Dolphin</string>
		<key>group2</key>
		<string>l2</string>
	</dict>
	<dict>
		<key>index</key>
		<string>10</string>
		<key>name2</key>
		<string>Donkey</string>
		<key>group2</key>
		<string>l2</string>
	</dict>
	<dict>
		<key>index</key>
		<string>4</string>
		<key>name2</key>
		<string>Crane</string>
		<key>group2</key>
		<string>l2</string>
	</dict>
	<dict>
		<key>index</key>
		<string>4</string>
		<key>name2</key>
		<string>Crane</string>
		<key>group2</key>
		<string>l2</string>
	</dict>
	<dict>
		<key>index</key>
		<string>4</string>
		<key>name2</key>
		<string>Crane</string>
		<key>group2</key>
		<string>l2</string>
	</dict>
	<dict>
		<key>index</key>
		<string>4</string>
		<key>name2</key>
		<string>Crane</string>
		<key>group2</key>
		<string>l2</string>
	</dict>
	<dict>
		<key>index</key>
		<string>4</string>
		<key>name2</key>
		<string>Crane</string>
		<key>group2</key>
		<string>l2</string>
	</dict>
	<dict>
		<key>index</key>
		<string>4</string>
		<key>name2</key>
		<string>Crane</string>
		<key>group2</key>
		<string>l2</string>
	</dict>
	<dict>
		<key>index</key>
		<string>4</string>
		<key>name2</key>
		<string>Crane</string>
		<key>group2</key>
		<string>l2</string>
	</dict>
	<dict>
		<key>index</key>
		<string>4</string>
		<key>name2</key>
		<string>Crane</string>
		<key>group2</key>
		<string>l2</string>
	</dict>
	<dict>
		<key>index</key>
		<string>4</string>
		<key>name2</key>
		<string>Crane</string>
		<key>group2</key>
		<string>l2</string>
	</dict>
	<dict>
		<key>index</key>
		<string>4</string>
		<key>name2</key>
		<string>Crane</string>
		<key>group2</key>
		<string>l2</string>
	</dict>
	<dict>
		<key>index</key>
		<string>4</string>
		<key>name2</key>
		<string>Crane</string>
		<key>group2</key>
		<string>l2</string>
	</dict>
	<dict>
		<key>index</key>
		<string>4</string>
		<key>name2</key>
		<string>Crane</string>
		<key>group2</key>
		<string>l2</string>
	</dict>
	<dict>
		<key>index</key>
		<string>4</string>
		<key>name2</key>
		<string>Crane</string>
		<key>group2</key>
		<string>l2</string>
	</dict>
	<dict>
		<key>index</key>
		<string>1</string>
		<key>name2</key>
		<string>Cockroach</string>
		<key>group2</key>
		<string>l2</string>
	</dict>
	<dict>
		<key>index</key>
		<string>2</string>
		<key>name2</key>
		<string>Cormorant</string>
		<key>group2</key>
		<string>l2</string>
	</dict>
	<dict>
		<key>index</key>
		<string>3</string>
		<key>name2</key>
		<string>Cow</string>
		<key>group2</key>
		<string>l2</string>
	</dict>
	<dict>
		<key>index</key>
		<string>4</string>
		<key>name2</key>
		<string>Crane</string>
		<key>group2</key>
		<string>l2</string>
	</dict>
</array>
</plist>
